<!DOCTYPE html>
<!--
  ~ Copyright 2015 Alexander Orlov <alexander.orlov@loxal.net>. All rights reserved.
  -->

<div *ng-if="poll">
    <strong>{{ poll.question }}</strong>
    <ol class="heroes" id="answerOptions">
        <li *ng-for="#answer of poll.answers">
            <input type="radio" name="answers"
                   (click)="onAnswer(answer)"
            >
            {{ answer }}
            </input>
        </li>
    </ol>
</div>

<div *ng-if="review">
    <strong>Review</strong>
    <dl>
        <dt>Correct</dt>
        <dd>{{ review.correct }}</dd>

        <dt>Wrong</dt>
        <dd>{{ review.wrong }}</dd>
    </dl>
</div>