<!DOCTYPE html>
<!--
  ~ Copyright 2015 Alexander Orlov <alexander.orlov@loxal.net>. All rights reserved.
  -->

<div *ngIf="poll">
    <strong>{{ poll.question }}</strong>
    <ol class="options" id="answerOptions">
        <li *ngFor="#option of poll.options; #index = index" (click)="onAnswer(index, $event)">
            <input *ngIf="!poll.multipleAnswers" type="radio" name="options"
                   (click)="onAnswer(index, $event)"
                   accesskey="1"
                   value="b"
            >
            <input *ngIf="poll.multipleAnswers" type="checkbox" name="options"
                   (click)="onAnswer(index, $event)"
                   value="a"
            >
            {{ option }}
        </li>
    </ol>
</div>

<div *ngIf="review">
    <strong>Review</strong>
    <dl>
        <dt>Correct</dt>
        <dd>{{ review.correct }}</dd>

        <dt>Wrong</dt>
        <dd>{{ review.wrong }}</dd>

        <dt>Total</dt>
        <dd>{{ review.total }}</dd>
    </dl>
    <button id="playAgain" (click)="onPlayAgain()" accesskey="a">Play Again</button>
</div>