<!DOCTYPE html>
<!--
  ~ Copyright 2015 Alexander Orlov <alexander.orlov@loxal.net>. All rights reserved.
  -->

<div *ng-if="poll">
    <strong>{{ poll.question }}</strong>
    <ol class="options" id="answerOptions">
        <li *ng-for="#option of poll.options; #index = index">
            <input type="radio" name="options"
                   (click)="onAnswer(index, $event)"
            >
            {{ option }}
            </input>
        </li>
    </ol>
</div>

<div *ng-if="review">
    <strong>Review</strong>
    <dl>
        <dt>Correct</dt>
        <dd>{{ review.correct }}</dd>

        <dt>Wrong</dt>
        <dd>{{ review.wrong }}</dd>

        <dt>Total</dt>
        <dd>{{ review.total }}</dd>
    </dl>
    <button id="playAgain" (click)="onPlayAgain()">Play Again</button>
</div>