/*
 * Copyright 2015 Alexander Orlov <alexander.orlov@loxal.net>. All rights reserved.
 */

div {
    font-size: 2em;
}

button {
    font-size: 1em;
}

input {
}

.options {
    list-style-type: none;
    margin-left: 1em;
    padding: 0;
    width: 20em;
}

.options li {
    transition: all 0.2s ease;
}

.options li:hover {
    color: #369;
    background-color: #eee;
    border-radius: 1em;
}
